* { margin:0; padding:0; box-sizing:border-box; }
body {
	background-color: #DCDCDC;
	color: #000;
	font-family: Helvetica, arial, sans-serif;
	font-size:16px;
}
nav{
	padding-top: .5em;
	padding-bottom: 1em;
}
/*h2{
	text-align: center;
}*/
a{
	padding: 20px;
}
img{
	width: 75px;
}

li{
	font-family: "Palatino Linotype";
	line-height: 120%;
}
.column {
	height: 200px;
	background-color: #A52A2A;
	width: 300px;
	padding:10px;
	margin: 20px;
	/*border: 10px solid black;*/
}
#maintext{
	text-align: justify;
	font-family: "Palatino Linotype";
	font-size: 18px;
}
#slogan{
	text-align: center;
	font-size: 25px;
	font-style: italic;
	font-weight: bold;
	/*border: 10px solid black;*/
}
/*#accepted{
	background-color: #A52A2A;
}*/
