@import url(https://fonts.googleapis.com/css?family=Fjalla+One);
@import url(https://fonts.googleapis.com/css?family=Arapey);

@import url(https://fonts.googleapis.com/css?family=Amaranth:400,700);
@import url(https://fonts.googleapis.com/css?family=Amiri);

@import url(https://fonts.googleapis.com/css?family=Ubuntu:400,700);
@import url(https://fonts.googleapis.com/css?family=Special+Elite);
* { margin:0; padding:0; box-sizing:border-box; }

body{
	font-family: "ubuntu";
	font-size: 20px;
	/*background-color: red;*/
}
h1{
	text-transform: lowercase;
	font-family: "special elite";
	/*background-color: blue;*/
	padding: 50px 20px;
/*	width: 500px;*/
	float: left;
}
/*#wordmark{
	float: left;
}*/
nav{
	/*float: right;*/
	/*background-color: yellow;*/
	margin: auto;
	display: block;
}
/*h2{
	clear: both;
	text-align: center;
	background:url(../images/paperontable.jpg);
	background-size:cover;
	background-repeat:no-repeat;
	background-attachment:fixed;
	padding: 200px;*/
	/*	background-color:yellow;
}*/
a {
	display: inline-block;
	padding: 30px;
	text-decoration: none;
	color: black;
	/*background-color: green;*/
	margin:20px;
	background-color: yellow;
}
div{
	text-align: center;
}
h3{
	padding: 20px;
}
/*.circle{
	margin:auto;
}*/
.columns{
	float:left;
	width: 300px;
	display: inline-block;
	/*background-color: orange;*/
	margin: 40px;
	padding: 20px;
}
#columns{
	margin: auto;
	width: 1140px;
}
#copyright{
	padding:30px;
}
#header{
	width:65%;
	display: block;
	margin: auto;
}


/*goodversion:
@import url(https://fonts.googleapis.com/css?family=Fjalla+One);
@import url(https://fonts.googleapis.com/css?family=Arapey);

@import url(https://fonts.googleapis.com/css?family=Amaranth:400,700);
@import url(https://fonts.googleapis.com/css?family=Amiri);

@import url(https://fonts.googleapis.com/css?family=Ubuntu:400,700);
@import url(https://fonts.googleapis.com/css?family=Special+Elite);
* { margin:0; padding:0; box-sizing:border-box; }

body{
	font-family: "ubuntu";
	font-size: 20px;
	/*background-color: red;*/
/*/*/*/*}
h1{
	text-transform: lowercase;
	font-family: "special elite";
	/*background-color: blue;*/
	/*padding: 50px 20px;*/
	/*width: 500px;*/
/*	float: left;
}
#wordmark{
	float: left;
}
nav{
	float: right;*/
	/*background-color: yellow;*/
/*}
h2{
	clear: both;
	text-align: center;
	background:url(../images/paperontable.jpg);
	background-size:cover;
	background-repeat:no-repeat;
	background-attachment:fixed;
	padding: 200px;
		background-color:yellow;
}
a {
	display: inline-block;
	padding: 30px;
	text-decoration: none;
	color: black;*/
	/*background-color: green;*/
/*	margin:20px;
}
div{
	text-align: center;
}
h3{
	padding: 20px;
}*/
/*.circle{
	margin:auto;
}*/
/*.columns{
	float:left;
	width: 300px;
	display: inline-block;*/
	/*background-color: orange;*/
/*	margin: 40px;
	padding: 20px;
}
#columns{
	margin: auto;
	width: 1140px;
}
#copyright{
	padding:30px;
}*/

/*badversion:
/*body{
	background-color: #FCFCFC;
	color: #121212;
	font-family: "Amiri", serif;
	font-size:20px;
	margin: 2em;
}
nav{
	text-align: center;
	margin: 2.85em;
}
nav a{
	padding: 1.5em;
	background-color: #121212;
	color: white;
}
li{
	line-height: 120%;
}
hr{
	margin-top: 3em;
}
.columns {
	height: 15em;
	background-color: #A52A2A;
	width: 15em;
	padding:2em;
	margin: 1.25em;
}	
.logo{
	font-family: "Fjalla One", arial, sans-serif;
	font-size: 4em;
	text-align: center;
}
#maintext{
	text-align: justify;
	margin-left: auto;
	margin-right: auto;
	width: 35em;

}
#slogan{
	text-align: center;
	font-size: 2em;
}
*/