@import url(https://fonts.googleapis.com/css?family=Fjalla+One);
@import url(https://fonts.googleapis.com/css?family=Amiri);

* { margin:0; padding:0; box-sizing:border-box; }

body{
	font-family: "Amiri";
	font-size: 16px;
	margin: .75em;
}
img{
	background-color: black;
	float: left;
	/*margin: .75em;*/
	/*width: 100%;*/
}
nav a{
	float: right;
	margin: .75em;
	color: white;
	background-color: black;
	padding: 0.6em;
	width: 95px;
	text-align: center;
	text-transform: uppercase;
}
h1{
	/*background-color: #DCDCDC;*/
	text-align: center;
	font-size: 3em;
	padding: 1em;
}
h2{
	background-color: #C0C0C0;
	text-align: center;
	font-size: 24px;
}
footer{
	background-color: orange;
}
ul{

}
li{
	padding: 0.6em;
	float: left;
	list-style-type: none;
	background-color: #C0C0C0;
	margin: 1em;
}
.clearfix:after{
	visibility: hidden;
	display: block;
	font-size: 0;
	content: "hello";
	clear: both;
	height: 0;
}
#description{
	background-color: #DCDCDC;
	padding: 2em;
	/*width: 90em;*/
	text-align: center;
}
#services{
	background-color: #B22222;
	padding: 2em;
	font-size: 2em;
	text-align: center;
}
#slogan{
	padding: 2em 0 2em 0;
	/*why is this not working?*/
	background-color: #DCDCDC
}
